<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
        <tr>
            <td>
            <div class="body1">
              <center><img src="https://img.dmart.in/images/rwd/products/I/S/o/ISoups53gKMST1315XX290216_1_P.jpg" title="Parle Rusk" ></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 55</strong></h4>  <br>
              <h4 class="body1">Knor Tomato Soup: 53 gms</h4> <br>      
                <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
            </div>
            </td>
            <td>
                <center><img src="https://img.dmart.in/images/rwd/products/K/S/o/KSoups44gmKNR1034XX160117_2_P.jpg" title="Britannia Toestea"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 55</strong></h4><br>
                <h4 class="body1">Knor Sweet Corn Soup: 44 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/S/o/KSoups15gmCHG2319XX290317_1_P.jpg" title="Monginis Muffin Cake"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 10</strong></h4><br>
                <h4 class="body1">Chings Manchow Soup: 15 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/S/O/KSOUPS15gmChin10xx13319_2_P.jpg" title="Monginis Swiss Roll"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 10</strong></h4><br>
                <h4 class="body1">Chings Hot and Sour Soup: 15 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
        </tr>
    </table>
  </div>         
</body>
</html>