<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
        <tr>
            <td>
            <div class="body1">
              <center><img src="https://img.dmart.in/images/rwd/products/I/M/i/IMixedFruitJam700gKMST1286XX290216_1_P.jpg" title="Parle Rusk" ></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 215</strong></h4>  <br>
              <h4 class="body1">Kissan  Jam: 700 gms</h4> <br>      
                <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
            </div>
            </td>
            <td>
                <center><img src="https://img.dmart.in/images/rwd/products/K/S/P/KSPREADS925gmFNFD14XX21618_5_P.jpg" title="Britannia Toestea"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 284</strong></h4><br>
                <h4 class="body1">Funfood Peanut Butter: 925 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/M/A/KMAYONNAISE900GmDLM42XX100220_3_P.jpg" title="Monginis Muffin Cake"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 180</strong></h4><br>
                <h4 class="body1">Del Monte Mayo: 900 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
        </tr>
        <tr>
          <td>
          <div class="body1">
            <center><img src="https://img.dmart.in/images/rwd/products/K/K/e/KKetchupNSauce1kgMGGI2579XX110417_6_P.jpg" title="Parle Rusk" ></center>
            <h4 class="body1"><strong>M.R.P: &#8377; 147</strong></h4>  <br>
            <h4 class="body1">Maggie Rich Ketchup: 1 kgs</h4> <br>      
              <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
          </div>
          </td>
          <td>
              <center><img src="https://img.dmart.in/images/rwd/products/I/K/e/IKetchup1kgKMST1295XX290216_1_P.jpg" title="Britannia Toestea"></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 130</strong></h4><br>
              <h4 class="body1">Kissan Ketchup: 950 gms</h4><br>
              <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
          </td>
          <td>
              
              <center><img src="https://img.dmart.in/images/rwd/products/L/S/A/LSAUCES200gmKiss12xx170120_5_P.jpg" title="Monginis Muffin Cake"></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 55</strong></h4><br>
              <h4 class="body1">Kissan Sehezwan Sauce: 200 gms</h4><br>
              <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
          </td>
      </tr>
    </table>
  </div>         
</body>
</html>