  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div>
      <table>
          <tr>
              <td>
              <div class="body1">
                <center><img src="https://img.dmart.in/images/rwd/products/L/K/H/LKHARITOAST400gmParl12xx31719_6_P.jpg" title="Parle Rusk" ></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 60</strong></h4>  <br>
                <h4 class="body1">Parle Rusk: 400 gms</h4> <br>      
                  <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
              </div>
              </td>
              <td>
                  <center><img src="https://img.dmart.in/images/rwd/products/K/B/i/KBiscuits400gmBTN1055XX190117_3_P.jpg" title="Britannia Toestea"></center>
                  <h4 class="body1"><strong>M.R.P: &#8377; 58</strong></h4><br>
                  <h4 class="body1">Britannia Toestea: 400 gms</h4><br>
                  <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
              </td>
              <td>
                  
                  <center><img src="https://img.dmart.in/images/rwd/products/K/C/A/KCAKES150gmMONG3037XX92421052020_5_P.jpg" title="Monginis Muffin Cake"></center>
                  <h4 class="body1"><strong>M.R.P: &#8377; 40</strong></h4><br>
                  <h4 class="body1">Monginis Muffin Cake: 132 gms</h4><br>
                  <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
              </td>
              <td>
                  
                  <center><img src="https://img.dmart.in/images/rwd/products/K/C/A/KCAKES100gmMONG3042XX210717_3_P.jpg" title="Monginis Swiss Roll"></center>
                  <h4 class="body1"><strong>M.R.P: &#8377; 30</strong></h4><br>
                  <h4 class="body1">Monginis Swiss Roll: 100 gms</h4><br>
                  <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
              </td>
          </tr>
      </table>
    </div>         
  </body>
  </html>
  <!--<h4>Quantity: <input type="number" value="1"></h4>-->