<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
        <tr>
            <td>
            <div class="body1">
              <center><img src="https://img.dmart.in/images/rwd/products/K/C/H/KCHOCOLATES50gmSIKR18XX051117_1_P.jpg" title="Parle Rusk" ></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 40</strong></h4>  <br>
              <h4 class="body1">Snikers: 45 gms</h4> <br>      
                <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
            </div>
            </td>
            <td>
                <center><img src="https://img.dmart.in/images/rwd/products/K/C/H/KCHOCOLATES128gmNSTL3136XX110824_2_P.jpg" title="Britannia Toestea"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 100</strong></h4><br>
                <h4 class="body1">KitKat: 126 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/C/H/KCHOCOLATES150gmAMUL28XX110320201044_5_P.jpg" title="Monginis Muffin Cake"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 100</strong></h4><br>
                <h4 class="body1">Amul Dark Chocolate: 150gm</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/C/A/KCANDIES150gmCDBR2756xx130720_4_P.jpg" title="Monginis Swiss Roll"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 160</strong></h4><br>
                <h4 class="body1">Dairy Milk Silk: 150 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
        </tr>
    </table>
  </div>         
</body>
</html>