  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
        <tr>
            <td>
            <div class="body1">
              <center><img src="https://img.dmart.in/images/rwd/products/K/N/o/KNoodles560gmMGGI2203XX100317_10_P.jpg" title="Parle Rusk" ></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 91</strong></h4>  <br>
              <h4 class="body1">Maggie: 560 gms</h4> <br>      
                <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
            </div>
            </td>
            <td>
                <center><img src="https://img.dmart.in/images/rwd/products/K/N/O/KNOODLES560gmTORE3002XX140817_3_P.jpg" title="Britannia Toestea"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 85</strong></h4><br>
                <h4 class="body1">Top Ramen: 560 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/K/N/O/KNOODLES360gmSFST27XX81118_2_P.jpg" title="Monginis Muffin Cake"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 68</strong></h4><br>
                <h4 class="body1">Yippee: 360 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
        </tr>
        <tr>
          <td>
          <div class="body1">
            <center><img src="https://img.dmart.in/images/rwd/products/I/P/a/IPasta500gBRGS180XX040320_5_P.jpg" title="Parle Rusk" ></center>
            <h4 class="body1"><strong>M.R.P: &#8377; 210</strong></h4>  <br>
            <h4 class="body1">Borges Fussili Pasta: 500 gms</h4> <br>      
              <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
          </div>
          </td>
          <td>
              <center><img src="https://img.dmart.in/images/rwd/products/L/P/A/LPASTA400gmHome16xx50620_5_P.jpg" title="Britannia Toestea"></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 40</strong></h4><br>
              <h4 class="body1">Home Chef Macroni Pasta: 400 gms</h4><br>
              <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
          </td>
          <td>
              
              <center><img src="https://img.dmart.in/images/rwd/products/I/V/e/IVermicelli900mlMTR1711XX290216_1_P.jpg" title="Monginis Muffin Cake"></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 80</strong></h4><br>
              <h4 class="body1">MTR Vermicelli: 850 gms</h4><br>
              <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
          </td>
      </tr>
    </table>
  </div>         
</body>
</html>