<div class="d-flex flex-column flex-md-row bg-gray align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-small">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-color" href="#">Biscuits And Cookies</a>
    <a class="p-2 text-color" [routerLink]="['/bakery']">Bakery</a>
    <a class="p-2 text-color" [routerLink]="['/confectionary']">Confectionary</a>
    <a class="p-2 text-color" [routerLink]="['/pasta']">Pasta and Noodles</a>
    <a class="p-2 text-color" [routerLink]="['/readytocook']">Ready To Cook</a>
    <a class="p-2 text-color" [routerLink]="['/sauce']">Sauce and Ketchup</a>
    <a class="p-2 text-color" [routerLink]="['/soup']">Soups</a>
  </nav>
  
  <a class="btn btn-primary btn-sm" [routerLink]="['/signup']">SignUp</a>
  <a class="btn btn-dark btn-sm" [routerLink]="['/login']">Login</a>
</div>
