<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
        <tr>
            <td>
            <div class="body1">
              <center><img src="https://img.dmart.in/images/rwd/products/I/R/e/IReadyMix200gGTS928XX290216_3_P.jpg" title="Parle Rusk" ></center>
              <h4 class="body1"><strong>M.R.P: &#8377; 90</strong></h4>  <br>
              <h4 class="body1">Gits Gulab Jamun: 200 gms</h4> <br>      
                <center><input type="button" class="button btn btn-primary" value="Add To Cart" onclick="addToCart()"></center>
            </div>
            </td>
            <td>
                <center><img src="https://img.dmart.in/images/rwd/products/I/R/e/IReadyMix180gGTS925XX290216_2_P.jpg" title="Britannia Toestea"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 55</strong></h4><br>
                <h4 class="body1">Gits Khaman Dhokla: 180 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/I/R/e/IReadyMix1kgMTR1708XX290216_5_P.jpg" title="Monginis Muffin Cake"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 205</strong></h4><br>
                <h4 class="body1">MTR Rava Idli: 1 kgs</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
            <td>
                
                <center><img src="https://img.dmart.in/images/rwd/products/I/P/a/IPapads200gLJJT1445XX290216_1_P.jpg" title="Monginis Swiss Roll"></center>
                <h4 class="body1"><strong>M.R.P: &#8377; 60</strong></h4><br>
                <h4 class="body1">Lijjat Papad: 200 gms</h4><br>
                <center><input type="button" class="button btn btn-primary" value="Add To Cart"></center>
            </td>
        </tr>
    </table>
  </div>         
</body>
</html>