
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >
	
    <div>
        <br><h1 class="alert alert-primary">Sign Up Form</h1><br>            
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="register()">
            <table style="background-color: #999999;">
                <tr>
                    <td>
                        <h5>Full Name: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" formControlName="user_fullname" id="ufullname" placeholder="Name...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Email: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label></label>
                            <input type="email" class="form-control" id="uemail" formControlName="user_email" placeholder="Email...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Contact Number: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label></label>
                            <input type="tel" class="form-control" id="uphone" formControlName="user_phone" placeholder="Contact Number...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>User Name: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" id="uname" formControlName="user_name" placeholder="UserName...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Password: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label></label>
                            <input type="password" class="form-control" id="upass" formControlName="user_pass" placeholder="Password...">
                          </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr style="background-color:white" >
                    <td>
                        <input type="submit" class="btn btn-lg btn-primary align:center" value="Sign Up" >
                        
                    </td>
                    <td>
                        <input type="reset" class="btn btn-lg btn-danger align:center" value="Reset" onclick="reset">
                    </td>
                </tr>
            </table>
        </form>
    </div>
	


</body>
</html>