
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >
	
    <div>
        <br><h1 align="center">Sign Up Form</h1><br>            
    </div>
    <div>
        <form>
            <table style="background-color: #999999;">
                <tr>
                    <td>
                        <h5>Full Name: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for=""></label>
                            <input type="text" class="form-control" name="" id="" placeholder="Name...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Email: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for=""></label>
                            <input type="email" class="form-control" name="" id="" placeholder="Email...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Contact Number: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for=""></label>
                            <input type="tel" class="form-control" name="" id="" placeholder="Contact Number...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>User Name: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for=""></label>
                            <input type="password" class="form-control" name="" id="" placeholder="UserName...">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Password: </h5>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for=""></label>
                            <input type="password" class="form-control" name="" id="" placeholder="Password...">
                          </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr bgcolor="white">
                    <td>
                        <center><input type="button" class="btn btn-lg btn-primary" value="Sign Up" onclick="addToCart()"></center>
                    </td>
                    <td>
                        <center><input type="reset" class="btn btn-lg btn-danger" value="Reset" onclick="reset"></center>
                    </td>
                </tr>
            </table>
        </form>
    </div>
	


</body>
</html>