<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2 class="header-color">SnackExpress.com</h2>
          <h5 class="pr-5 text-color">Direct in Tummy</h5>
          <p class="pr-5 text-color"><br>We provide Express Delivery of Packaged Food stuff within Pune.<br>Do order Food Items an enjoy it with your family.</p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Categories</h4>
            <ul class="m-0 p-0">
              <li>- <a [routerLink]="['/shop']">Biscuits And Cookies</a></li>
              <li>- <a [routerLink]="['/bakery']">Bakery</a></li>
              <li>- <a [routerLink]="['/confectionary']">Confectionary</a></li>
              <li>- <a [routerLink]="['/pasta']">Pasta and Noodles</a></li>
              <li>- <a [routerLink]="['/readytocook']">Ready To Cook</a></li>
              <li>- <a [routerLink]="['/sauce']">Sauce and Ketchup</a></li>
              <li>- <a [routerLink]="['/soup']">Soups</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Address</h4>
          <p>Sinhgad Road, Pune</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+91) 8888-9292-88</p>
          <p><i class="fa fa-envelope-o mr-3"></i>connect@sanckexpress.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">PG-DAC AWP Project<br>© 2020. All Rights Reserved to Shubham Taware.</small></p>
        </div>
      </div>
    </div>
    </div>
</body>
</html>